<style>
body {
    background-color: black;
}

H1 {
    color: orangered;
    font-size: 70px;
    border: thick;
    text-align: center
    
    ;}

    p [
        color: gray;
    ]

  div [
    
  ]

  img [

  ]